body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  color: #fff;
}

body span {
  color: #97C434;
}

h1, p, a {
  margin: 0;
}

.products-link {
  width: 334px;
  height: 72px;
  background-color: #7B9F2C;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  margin-top: 60px;
}

.ht__banner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #2B303C;
  color: #fff;
  font-family: sans-serif;
}

.ht__banner > div {
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ht__banner > div .arrow_down {
  margin: 0 auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__banner > div svg {
  margin-bottom: 60px;
}

.ht__banner > div h1 {
  margin-bottom: 40px;
}

.ht__banner > div h1 span {
  color: #7B9F2C;
}

.ht__banner > div p strong {
  font-weight: bold;
  color: #7B9F2C;
}

.ht__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
}

.ht__about div {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ht__about div p {
  max-width: 539px;
}

.ht__about div svg {
  margin: 150px auto;
}

.ht__about h1 {
  margin-bottom: 60px;
}

.ht__about h1 br {
  display: none;
}

.ht__whois {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  min-height: 50vh;
}

.ht__whois div {
  width: 50vw;
  margin: 188px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ht__whois img {
  width: 414px;
  height: 429px;
  /* Sombra */
  -webkit-filter: drop-shadow(0px 20px 40px rgba(26, 26, 26, 0.3));
          filter: drop-shadow(0px 20px 40px rgba(26, 26, 26, 0.3));
  border-radius: 20px;
}

.ht__whois h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
}

.ht__whois h1 br {
  display: none;
}

.ht__whois p {
  max-width: 539px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.ht__benefits {
  width: 100vw;
  height: 150vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  -ms-grid-columns: 10% 20% 20% 20% 20% 10%;
      grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.ht__benefits .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 1 / 5;
  margin-top: 150px;
  text-transform: uppercase;
}

.ht__benefits .header h1 {
  margin-top: 60px;
}

.ht__benefits .benefits_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / 2 / 4;
  margin: 0 auto;
}

.ht__benefits .benefits_1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.ht__benefits .benefits_1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__benefits .benefits_1 ul li svg {
  margin-right: 20px;
}

.ht__benefits .benefits_2 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 2 / 4 / 2 / 6;
  margin: 0 auto;
}

.ht__benefits .benefits_2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.ht__benefits .benefits_2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__benefits .benefits_2 ul li svg {
  margin-right: 20px;
}

.ht__benefits .products-link {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 /3 /3 / 5;
  margin: 80px auto;
}

.ht__testimony {
  min-height: 150vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ht__testimony > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 413px;
}

.ht__testimony > h1 span {
  font-weight: 900;
  color: #2B303C;
}

.ht__testimony .testimonys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 80%;
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ht__testimony .testimonys .slick-slide > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ht__testimony .testimonys .testimony {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ht__testimony .testimonys .testimony h1 {
  width: 413px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 100;
  /* or 169% */
  text-align: justify;
  letter-spacing: 0.05em;
}

.ht__testimony .testimonys .testimony .nome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-left: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__testimony .testimonys .testimony .nome h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  /* or 129% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  margin-left: 20px;
}

.ht__testimony .arrows {
  margin-top: 60px;
  width: 413px;
}

.ht__recommendations {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__recommendations > div {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ht__recommendations > div .linha {
  width: 4px;
  height: 497px;
  border-radius: 50px;
  background-color: #fff;
}

.ht__recommendations > div div {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__recommendations > div div h1 {
  text-transform: uppercase;
}

.ht__recommendations > div div ul {
  padding: 0;
}

.ht__recommendations > div div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 60px;
}

.ht__recommendations > div div ul li svg {
  margin-right: 20px;
}

.ht__recommendations > div div ul li p {
  max-width: 374px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

.ht__recommendations > div .nao span {
  color: #EB5757;
}

.ht__recommendations .products-link {
  margin-bottom: 80px;
}

.ht__products {
  width: 100vw;
  min-height: 100vh;
}

.ht__products h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 150px;
  display: block;
}

.ht__products h1 span {
  color: #7B9F2C;
}

.ht__products .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 80%;
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ht__products .products .slick-slide > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ht__products .products .product {
  background-color: #fff;
  width: 305px !important;
  height: 471px;
  margin: 0 20px;
  -webkit-filter: drop-shadow(0px 20px 40px rgba(26, 26, 26, 0.3));
          filter: drop-shadow(0px 20px 40px rgba(26, 26, 26, 0.3));
  border-radius: 20px;
}

.ht__products .products .product h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: initial;
  /* Azul */
  color: #2B303C;
  padding-top: 0;
  margin: 30px 20px;
  text-align: start;
}

.ht__products .products .product .price {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Blue 1 */
  margin: 40px 20px;
}

.ht__products .products .product .about-product {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  margin: 0 20px;
}

.ht__products .products .product a {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  /* Branco */
  color: #FFFFFF;
  text-decoration: none;
}

.ht__products .products .product ul li {
  color: #2B303C;
}

.ht__products .products .product ul li:nth-child(2) {
  margin-top: 20px;
}

.ht__newsletter {
  height: 50vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ht__newsletter h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* Branco */
  color: #FFFFFF;
}

.ht__newsletter p {
  margin-top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* Branco */
  color: #FFFFFF;
}

.ht__newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ht__newsletter form input {
  width: 181px;
  height: 52px;
  border-radius: 15px;
  border: none;
  margin-top: 40px;
  padding-left: 20px;
}

.ht__newsletter form input::-webkit-input-placeholder {
  padding-left: 10px;
}

.ht__newsletter form input:-ms-input-placeholder {
  padding-left: 10px;
}

.ht__newsletter form input::-ms-input-placeholder {
  padding-left: 10px;
}

.ht__newsletter form input::placeholder {
  padding-left: 10px;
}

.ht__newsletter form input:nth-child(2) {
  width: 392px;
}

.ht__newsletter form button {
  width: 630px;
  height: 51px;
  margin-top: 40px;
  border-radius: 15px;
  border: none;
  background: #7B9F2C;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* Branco */
  color: #FFFFFF;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .ht__banner {
    text-align: center;
  }
  .ht__banner > div {
    padding: 0;
  }
  .ht__banner > div h1 {
    font-size: 24px;
  }
  .ht__banner > div p {
    padding: 0 36px;
  }
  .ht__banner > div a {
    margin: 60px auto;
  }
  .ht__banner > div svg {
    margin: 60px auto;
  }
  .ht__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ht__about > div {
    width: 100vw;
  }
  .ht__about > div svg {
    width: 175px;
    height: 175px;
    margin: 100px auto 50px auto;
  }
  .ht__about > div h1 {
    font-size: 28px;
    text-align: center;
    margin: 0 auto 60px auto;
  }
  .ht__about > div h1 br {
    display: block;
  }
  .ht__about > div p {
    margin: 0 61px 60px 61px;
    text-align: justify;
    font-size: 18px;
  }
  .ht__whois {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ht__whois div {
    width: 100vw;
    margin: 36px auto;
  }
  .ht__whois div img {
    height: 297px;
    width: 288px;
  }
  .ht__whois h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
  }
  .ht__whois p {
    margin: auto 36px;
    margin-bottom: 100px;
    font-size: 18px;
  }
  .ht__benefits {
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .ht__benefits .header {
    margin-top: 80px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 1 / 2 / 1 / 6;
  }
  .ht__benefits .header h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
  }
  .ht__benefits div {
    margin: 0 auto;
    width: 100%;
  }
  .ht__benefits div ul {
    padding: 0;
  }
  .ht__benefits .benefits_1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 2 / 2 / 2 / 6;
  }
  .ht__benefits .benefits_2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 3 / 2 / 3 / 6;
  }
  .ht__benefits .products-link {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: 4 / 1 / 4 / 7;
  }
  .ht__testimony {
    height: 80vh;
  }
  .ht__testimony > div {
    margin: auto 40px;
  }
  .ht__recommendations div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ht__recommendations div div {
    width: 100vw;
  }
  .ht__recommendations div div h1 {
    font-size: 28px;
  }
  .ht__recommendations div div ul {
    margin: 60px 36px;
  }
  .ht__recommendations div div ul li p {
    font-size: 18px;
  }
  .ht__recommendations div > span {
    display: none;
  }
  .ht__products .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ht__products .products .product {
    margin-bottom: 36px;
  }
  .ht__newsletter {
    height: 521px;
  }
  .ht__newsletter h1 {
    font-size: 18px;
    text-align: left;
    width: calc(80vw + 20px);
  }
  .ht__newsletter p {
    text-align: left;
    font-size: 14px;
    width: calc(80vw + 20px);
  }
  .ht__newsletter form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ht__newsletter form div input {
    margin: 20px auto;
    width: 80vw !important;
  }
  .ht__newsletter form button {
    margin: 20px auto;
    width: calc(80vw + 20px);
    font-size: 14px;
  }
}
/*# sourceMappingURL=eight.css.map */