body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    color: #fff;
    span{
        color:#97C434;
    }
}
h1,p,a{
    margin: 0;
}
.products-link{
    width: 334px;
    height: 72px;
    background-color: #7B9F2C;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-top: 60px;

}
.ht__banner{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: #2B303C;

    color: #fff;
    font-family: sans-serif;

   

    >div{
        padding:0 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
        .arrow_down{
            margin: 0 auto;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        svg{
            margin-bottom: 60px;
        }
        h1{
            margin-bottom: 40px;
            span{
                color:#7B9F2C;
            }
        }
        p{
            strong{
                font-weight: bold;
                color:#7B9F2C;
            }
        }

    }
}
.ht__about{
    display: flex;
    min-height: 50vh;
    div{
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p{
            max-width: 539px;
        }
        svg{
            margin:150px auto;
        }
    }
    h1{
        margin-bottom: 60px;
        br{
            display: none;
        }
    }

}
.ht__whois{
    display: flex;
    color: #000;
    min-height: 50vh;
    div{
        width: 50vw;
        margin: 188px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 414px;
        height: 429px;

        /* Sombra */

        filter: drop-shadow(0px 20px 40px rgba(26, 26, 26, 0.3));
        border-radius: 20px;
    }
    h1{
        text-transform: uppercase;
        margin-bottom: 60px;
        br{
            display: none;
        }
    }
    p{
        max-width: 539px;
        align-items: center;
        text-align: justify;
    }
}
.ht__benefits{
    width: 100vw;
    height: 150vh;

    display: grid;

   grid-template-rows: 1fr 2fr 1fr;
   grid-template-columns: 10% 20% 20% 20% 20% 10%;
   .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        grid-area: 1 / 3 / 1 / 5;
        margin-top: 150px;
        text-transform: uppercase;
        h1{
            margin-top: 60px;
        }
        }
        .benefits_1{
            grid-area: 2 / 2 / 2 / 4;
            margin: 0 auto;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                height: 100%;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        margin-right: 20px;
                    }
                }

            }

        }
        .benefits_2{
            grid-area: 2 / 4 / 2 / 6;
            margin: 0 auto;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                height: 100%;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        margin-right: 20px;
                    }
                }

            }

        }
        .products-link{
            grid-area: 3 /3 /3 / 5;
            margin: 80px auto;
        }
}
.ht__testimony{
    min-height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    >h1{
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        align-items: center;
        text-transform: uppercase;
        width: 413px;

        span{
            font-weight: 900;
            color: #2B303C;
        }
    }        
    .testimonys{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
        margin-top: 80px;
        align-items: center;
        justify-content: center;
    
        .slick-slide{
            >div{
                display: flex;
                justify-content: center;
            }
        }
        .testimony{
            display: flex !important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1{
                width: 413px;
                font-size: 16px;
                line-height: 27px;
                font-weight: 100;
                /* or 169% */

                text-align: justify;
                letter-spacing: 0.05em;
            }
            .nome{
                display: flex;
                margin-top: 60px;
                margin-left: 40px;

                align-items: center;
                h1{
                    font-style: normal;
                    font-weight: 900;
                    font-size: 28px;
                    line-height: 36px;
                    /* or 129% */

                    display: flex;
                    align-items: center;
                    letter-spacing: 0.05em;

                    margin-left: 20px;
                }
            }
        }
    }
    .arrows{
        margin-top: 60px;
        width: 413px;
    }
}
.ht__recommendations{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >div{
        margin-top: 150px;
        display: flex;
        .linha{
            width: 4px;
            height: 497px;
            border-radius: 50px;
            background-color: #fff;
        }
        div{
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                text-transform: uppercase;
            }
            ul{
                padding: 0;
                li{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    margin-top: 60px;
                    svg{
                        margin-right: 20px;
                    }
                    p{
                        max-width: 374px;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 36px;
                        text-align: left;


                    }
                }
            }
        }
        .nao{
            span{
                color: #EB5757;
            }
        }
    }
    .products-link{
        margin-bottom: 80px;
    }
    
}
.ht__products{
    width: 100vw;
    min-height: 100vh;
    h1{
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        padding-top: 150px;

        display: block;
        span{
            color: #7B9F2C;
        }
    }
    .products{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
        margin-top: 80px;
        align-items: center;
        justify-content: center;
        .slick-slide{
            >div{
                display: flex;
                justify-content: center;
            }
        }
        .product{
            background-color: #fff;
            width: 305px !important;
            height: 471px;
            margin: 0 20px;

            filter: drop-shadow(0px 20px 40px rgba(26, 26, 26, 0.3));
            border-radius: 20px;
            h1{
                
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 37px;
                display: flex;
                text-transform: initial;

                /* Azul */

                color: #2B303C;

                padding-top: 0;
                margin:30px 20px;

                text-align: start;
            }
            .price{
                
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 61px;
                display: flex;
                align-items: center;

                /* Blue 1 */


                margin:40px 20px;
            }
            .about-product{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;

                color: #000;

                margin: 0 20px;
            }
            a{
                width: 100%;
                height: 60px;

                display: flex;

                position: fixed;
                bottom: 0;

                border-radius: 0 0 20px 20px;

                justify-content: center;
                align-items: center;

                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                text-align: center;
                
                /* Branco */
                
                color: #FFFFFF;

                text-decoration: none;

            }

            ul{
                li{
                color: #2B303C;

                }
                li:nth-child(2){

                    margin-top: 20px;
                }
            }
        }
    }
}

.ht__newsletter{
    height: 50vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 34px;
        display: flex;
        align-items: center;
        text-align: center;

        /* Branco */

        color: #FFFFFF;
    }
    p{
        margin-top: 40px;

        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* or 150% */

        display: flex;
        align-items: center;
        text-align: center;

        /* Branco */

        color: #FFFFFF;

    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            width: 181px;
            height: 52px;
            border-radius: 15px;
            border: none;

            margin-top: 40px;
            padding-left: 20px;
            &::placeholder{
                padding-left: 10px;
            }
        }
        input:nth-child(2){
            width: 392px;
        }
        button{
            width: 630px;
            height: 51px;

            margin-top: 40px;
            
            border-radius: 15px;
            border: none;

            background: #7B9F2C;

            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;

            /* Branco */

            color: #FFFFFF;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media(max-width: 1024px) {
    .ht__banner{
        text-align: center;
        >div{
            padding: 0;
            h1{
                font-size: 24px;
            }
            p{
                padding: 0 36px;
            }
            a{
                margin: 60px auto;
            }
            svg{
                margin: 60px auto;
            }
        }
    }
    .ht__about{
        flex-direction: column;
        >div{
            width: 100vw;
            svg{
                width: 175px;
                height: 175px;
                margin: 100px auto 50px auto;
            }
            h1{
                font-size: 28px;
                text-align: center;
                margin: 0 auto 60px auto;
                br{
                    display: block;
                }
            }
            p{
                margin: 0 61px 60px 61px;
                text-align: justify;
                font-size: 18px;
            }
        }
    }
    .ht__whois{
        flex-direction: column;
        div{
            width: 100vw;
            margin: 36px auto;
            img{
                height: 297px;
                width: 288px;
            }
        }
        h1{
            font-size: 28px;
            text-align: center;

            margin-bottom: 60px;
        }
        p{
            margin: auto 36px;
            margin-bottom: 100px;
            font-size: 18px;
        }
    }
    .ht__benefits{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .header{
            margin-top: 80px;
            grid-area: 1 / 2 / 1 / 6;
            h1{
                text-align: center;
                text-transform: uppercase;
                margin-top: 60px;
            }
        }
        div{
            margin: 0 auto;
            width: 100%;
            ul{
                padding: 0;
            }
        }
        .benefits_1{
            grid-area: 2 / 2 / 2 / 6;
            
        }
        .benefits_2{
            grid-area: 3 / 2 / 3 / 6;
            
        }
        .products-link{
            grid-area: 4 / 1 / 4 / 7;
        }
        
    }
    .ht__testimony{
        height: 80vh;
        >div{
            margin: auto 40px;
        }
    }
    .ht__recommendations{
        div{
        flex-direction: column;
            div{
                width: 100vw;
                h1{
                    font-size: 28px ;
                }
                ul{
                    margin: 60px 36px ;
                    li{
                        p{
                        font-size: 18px;

                        }
                    }
                }
            }
                >span{
                    display: none;
                }
        }
    }
    .ht__products{
        .products{
            flex-direction: column;
            .product{
                margin-bottom: 36px;
            }
        }
    }
    .ht__newsletter{
        height: 521px;
        h1{
            font-size: 18px;
            text-align: left;
            width: calc(80vw + 20px);
        }
        p{
            text-align: left;
            font-size: 14px;
            width: calc(80vw + 20px);
        }
        form{
            div{
                display: flex;
                flex-direction: column;
                input{
                    margin: 20px auto;
                    width: 80vw !important;
                }
                
            }
            button{
                margin: 20px auto;
                width: calc(80vw + 20px);
                font-size: 14px;
            }
        }
    }
}